<a href="https://colab.research.google.com/github/pony-yyy/GroupWork/blob/main/data_clean_for_restaurant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
# Authenticate and access Google Cloud services
from google.colab import auth
auth.authenticate_user()

In [77]:
# Import the necessary libraries
from google.cloud import storage
from google.cloud import bigquery

project_id = "bdao-ima-422711"
dataset_name = "bobbdaoima"
table_name = "restaurant_data" # if you make changes previously, then here you need to make according change

bigquery_client = bigquery.Client(project=project_id)

In [78]:
# Query all data from the table
query = f"""
    SELECT *
    FROM `{project_id}.{dataset_name}.{table_name}`
"""

query_job = bigquery_client.query(query)
results = query_job.result()

restaurant_df = query_job.to_dataframe()
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category_AcaiBowls,category_Accessories,category_Accountants,category_ActiveLife,category_Acupuncture,category_Adult,category_AdultEducation,category_AdultEntertainment,category_Advertising,category_Afghan,category_African,...,WiFi,Alcohol,Caters,RestaurantsAttire,RestaurantsReservations,Ambience,GoodForKids,CoatCheck,DogsAllowed,RestaurantsTableService,RestaurantsGoodForGroups,WheelchairAccessible,HasTV,HappyHour,DriveThru,NoiseLevel,GoodForMeal,BusinessAcceptsBitcoin,Smoking,Music,GoodForDancing,BestNights,BYOB,Corkage,Parking
0,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2'}","Steakhouses, Asian Fusion, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",0,0,0,0,0,0,0,0,0,0,0,...,None,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
1,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,3001 Highway 31 W,White House,TN,37188,36.464747,-86.659187,3.5,8,1,{'RestaurantsPriceRange2': '1'},"Pizza, Chicken Wings, Sandwiches, Restaurants","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}",0,0,0,0,0,0,0,0,0,0,0,...,None,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
2,ABxoFuzZy5mqQ8C5FJJajQ,Core de Roma,201 Jefferson St,Bala Cynwyd,PA,19004,40.028357,-75.238084,5.0,12,1,"{'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None', 'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}""}","Restaurants, Italian","{'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}",0,0,0,0,0,0,0,0,0,0,0,...,None,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,True
3,RK6-cJ9hj53RzOlCBmpT-g,Impasto,None,Tampa,FL,33611,27.890814,-82.502346,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsTakeOut': 'True', 'Caters': 'True'}","Restaurants, Italian, Food Trucks, Food","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}",0,0,0,0,0,0,0,0,0,0,0,...,None,None,True,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
4,EuRGgOwJ0g1vTj2R04j37Q,Crafty Crab,51 Ludwig Dr,Fairview Heights,IL,62208,38.601298,-89.989683,2.5,14,1,"{'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}"", 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'GoodForKids': 'True'}","Seafood, Restaurants","{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}",0,0,0,0,0,0,0,0,0,0,0,...,None,None,<NA>,None,<NA>,None,True,<NA>,<NA>,<NA>,<NA>,<NA>,True,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,True

In [79]:
restaurant_df.shape

(52286, 777)

In [80]:
restaurant_df.dtypes

business_id        object
name               object
address            object
city               object
state              object
                   ...
GoodForDancing    boolean
BestNights         object
BYOB              boolean
Corkage           boolean
Parking           boolean
Length: 777, dtype: object

In [81]:
object_columns = restaurant_df.select_dtypes(include=['object']).dtypes
print(object_columns)
restaurant_df["WiFi"]

business_id          object
name                 object
address              object
city                 object
state                object
postal_code          object
attributes           object
categories           object
hours                object
BusinessParking      object
WiFi                 object
Alcohol              object
RestaurantsAttire    object
Ambience             object
NoiseLevel           object
GoodForMeal          object
Smoking              object
Music                object
BestNights           object
dtype: object

0          None
1          None
2          None
3          None
4          None
          ...
52281      'no'
52282    'free'
52283    'free'
52284      'no'
52285      'no'
Name: WiFi, Length: 52286, dtype: object

In [82]:
object_columns_data = restaurant_df.select_dtypes(include=['object'])
print(object_columns_data.head())

              business_id             name            address  \
0  kfNv-JZpuN6TVNSO6hHdkw  Hibachi Express     6625 E 82nd St
1  sqSqqLy0sN8n2IZrAbzidQ   Domino's Pizza  3001 Highway 31 W
2  ABxoFuzZy5mqQ8C5FJJajQ     Core de Roma   201 Jefferson St
3  RK6-cJ9hj53RzOlCBmpT-g          Impasto               None
4  EuRGgOwJ0g1vTj2R04j37Q      Crafty Crab       51 Ludwig Dr

               city state postal_code  \
0      Indianapolis    IN       46250
1       White House    TN       37188
2       Bala Cynwyd    PA       19004
3             Tampa    FL       33611
4  Fairview Heights    IL       62208

                                                                                                                                                                                                             attributes  \
0                                                                                                                          {'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2'}
1                                                                                                                                                                                       {'RestaurantsPriceRange2': '1'}
2                                          {'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None', 'BusinessParking': "{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}"}
3                                                                                                {'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsTakeOut': 'True', 'Caters': 'True'}
4  {'BusinessParking': "{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}", 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'GoodForKids': 'True'}

                                      categories  \
0         Steakhouses, Asian Fusion, Restaurants
1  Pizza, Chicken Wings, Sandwiches, Restaurants
2                           Restaurants, Italian
3        Restaurants, Italian, Food Trucks, Food
4                           Seafood, Restaurants

                                                                                                                                                                       hours  \
0                         {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}
1         {'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}
2                   {'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}
3                {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}
4  {'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}

                                                                       BusinessParking  \
0                                                                                 None
1                                                                                 None
2  {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}
3                                                                                 None
4  {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}

   WiFi Alcohol RestaurantsAttire Ambience NoiseLevel GoodForMeal Smoking  \
0  None    None              None     None       None        None    None
1  None    None              None     None       None        None    None
2  None    None              None     None       None        None    None
3  None    None              None     None       None        None    None
4  None    None              None     None       None        None    None

  Music BestNights
0  None       None
1  None       None
2  None       None
3  None       None
4  None       None

In [83]:
import numpy as np

restaurant_df["WiFi"] = restaurant_df["WiFi"].str.extract(r"u?'(.*)'")[0]

restaurant_df["WiFi"] = restaurant_df["WiFi"].replace({
    'free': 1,
    'no': 0,
    np.nan: 0
})

restaurant_df["WiFi"] = restaurant_df["WiFi"].apply(lambda x: 1 if x == 1 else 0)

restaurant_df["WiFi"] = restaurant_df["WiFi"].astype(int)

In [84]:
restaurant_df["WiFi"] = restaurant_df["WiFi"].astype(int)

In [85]:
wifi_counts = restaurant_df["WiFi"].value_counts(dropna=False)

print(wifi_counts)

WiFi
0    31865
1    20421
Name: count, dtype: int64

In [86]:
import pandas as pd

print("当前设置：", pd.get_option('display.max_columns'))
pd.set_option('display.max_columns', 50)

当前设置： 50

In [87]:
print(restaurant_df.columns[-50:])

Index(['category_WhiskeyBars', 'category_WholesaleStores',
       'category_Wholesalers', 'category_Wigs', 'category_WildlifeControl',
       'category_WindshieldInstallation_Repair', 'category_Wine_Spirits',
       'category_WineBars', 'category_WineTastingClasses',
       'category_WineTastingRoom', 'category_WineTours', 'category_Wineries',
       'category_Women_sClothing', 'category_Wraps', 'category_YelpEvents',
       'category_Yoga', 'category_Zoos', 'RestaurantsDelivery',
       'OutdoorSeating', 'BusinessAcceptsCreditCards', 'BusinessParking',
       'BikeParking', 'RestaurantsPriceRange2', 'RestaurantsTakeOut',
       'ByAppointmentOnly', 'WiFi', 'Alcohol', 'Caters', 'RestaurantsAttire',
       'RestaurantsReservations', 'Ambience', 'GoodForKids', 'CoatCheck',
       'DogsAllowed', 'RestaurantsTableService', 'RestaurantsGoodForGroups',
       'WheelchairAccessible', 'HasTV', 'HappyHour', 'DriveThru', 'NoiseLevel',
       'GoodForMeal', 'BusinessAcceptsBitcoin', 'Smoking', 'Music',
       'GoodForDancing', 'BestNights', 'BYOB', 'Corkage', 'Parking'],
      dtype='object')

In [88]:
# 获取 'RestaurantsDelivery' 列的索引
start_index = restaurant_df.columns.get_loc('RestaurantsDelivery')

# 选择从 'RestaurantsDelivery' 列开始往后的所有列
selected_columns = restaurant_df.iloc[:, start_index:]

In [89]:
print(restaurant_df.columns[:30])

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'category_AcaiBowls',
       'category_Accessories', 'category_Accountants', 'category_ActiveLife',
       'category_Acupuncture', 'category_Adult', 'category_AdultEducation',
       'category_AdultEntertainment', 'category_Advertising',
       'category_Afghan', 'category_African', 'category_AirDuctCleaning',
       'category_Airlines', 'category_AirportLounges',
       'category_AirportShuttles', 'category_AirportTerminals'],
      dtype='object')

In [90]:
start_col = restaurant_df.columns.get_loc('hours')
end_col = restaurant_df.columns.get_loc('RestaurantsDelivery')

# 选择从第一列到 'hours' 列的所有列
first_part = restaurant_df.iloc[:, 0:start_col + 1]

# 选择从 'RestaurantsDelivery' 列到最后一列的所有列
second_part = restaurant_df.iloc[:, end_col:]

# 使用 concat 方法将两部分列合并
selected_columns = pd.concat([first_part, second_part], axis=1)

# 查看选中的列
selected_columns.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,Caters,RestaurantsAttire,RestaurantsReservations,Ambience,GoodForKids,CoatCheck,DogsAllowed,RestaurantsTableService,RestaurantsGoodForGroups,WheelchairAccessible,HasTV,HappyHour,DriveThru,NoiseLevel,GoodForMeal,BusinessAcceptsBitcoin,Smoking,Music,GoodForDancing,BestNights,BYOB,Corkage,Parking
0,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2'}","Steakhouses, Asian Fusion, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",True,<NA>,<NA>,None,<NA>,2,True,<NA>,0,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
1,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,3001 Highway 31 W,White House,TN,37188,36.464747,-86.659187,3.5,8,1,{'RestaurantsPriceRange2': '1'},"Pizza, Chicken Wings, Sandwiches, Restaurants","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}",<NA>,<NA>,<NA>,None,<NA>,1,<NA>,<NA>,0,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
2,ABxoFuzZy5mqQ8C5FJJajQ,Core de Roma,201 Jefferson St,Bala Cynwyd,PA,19004,40.028357,-75.238084,5.0,12,1,"{'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None', 'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}""}","Restaurants, Italian","{'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}",<NA>,<NA>,<NA>,"{'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}",<NA>,<NA>,<NA>,<NA>,0,None,<NA>,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,True
3,RK6-cJ9hj53RzOlCBmpT-g,Impasto,None,Tampa,FL,33611,27.890814,-82.502346,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsTakeOut': 'True', 'Caters': 'True'}","Restaurants, Italian, Food Trucks, Food","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}",False,<NA>,True,None,<NA>,<NA>,True,<NA>,0,None,True,None,<NA>,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,<NA>
4,EuRGgOwJ0g1vTj2R04j37Q,Crafty Crab,51 Ludwig Dr,Fairview Heights,IL,62208,38.601298,-89.989683,2.5,14,1,"{'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}"", 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'GoodForKids': 'True'}","Seafood, Restaurants","{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}",True,<NA>,<NA>,"{'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}",<NA>,<NA>,True,<NA>,0,None,<NA>,None,<NA>,None,True,<NA>,<NA>,<NA>,<NA>,<NA>,True,<NA>,<NA>,None,None,<NA>,None,None,<NA>,None,<NA>,<NA>,True

In [91]:
first_part.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2'}","Steakhouses, Asian Fusion, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}"
1,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,3001 Highway 31 W,White House,TN,37188,36.464747,-86.659187,3.5,8,1,{'RestaurantsPriceRange2': '1'},"Pizza, Chicken Wings, Sandwiches, Restaurants","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}"
2,ABxoFuzZy5mqQ8C5FJJajQ,Core de Roma,201 Jefferson St,Bala Cynwyd,PA,19004,40.028357,-75.238084,5.0,12,1,"{'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None', 'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}""}","Restaurants, Italian","{'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}"
3,RK6-cJ9hj53RzOlCBmpT-g,Impasto,None,Tampa,FL,33611,27.890814,-82.502346,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsTakeOut': 'True', 'Caters': 'True'}","Restaurants, Italian, Food Trucks, Food","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}"
4,EuRGgOwJ0g1vTj2R04j37Q,Crafty Crab,51 Ludwig Dr,Fairview Heights,IL,62208,38.601298,-89.989683,2.5,14,1,"{'BusinessParking': ""{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}"", 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'GoodForKids': 'True'}","Seafood, Restaurants","{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}"

In [92]:
second_part.dtypes

RestaurantsDelivery           boolean
OutdoorSeating                boolean
BusinessAcceptsCreditCards    boolean
BusinessParking                object
BikeParking                   boolean
RestaurantsPriceRange2          Int64
RestaurantsTakeOut            boolean
ByAppointmentOnly             boolean
WiFi                            int64
Alcohol                        object
Caters                        boolean
RestaurantsAttire              object
RestaurantsReservations       boolean
Ambience                       object
GoodForKids                   boolean
CoatCheck                     boolean
DogsAllowed                   boolean
RestaurantsTableService       boolean
RestaurantsGoodForGroups      boolean
WheelchairAccessible          boolean
HasTV                         boolean
HappyHour                     boolean
DriveThru                     boolean
NoiseLevel                     object
GoodForMeal                    object
BusinessAcceptsBitcoin        boolean
Smoking                        object
Music                          object
GoodForDancing                boolean
BestNights                     object
BYOB                          boolean
Corkage                       boolean
Parking                       boolean
dtype: object

In [93]:
first_part.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      Int64
is_open           Int64
attributes       object
categories       object
hours            object
dtype: object

In [94]:
import pandas as pd

def select_top_categories_with_percentages(df, selected_cols, num_top_categories=10):
    # 确定不在 selected_columns 中的列
    category_cols = [col for col in df.columns if col not in selected_cols]

    # 计算每个种类的 1 的数量
    category_counts = df[category_cols].sum().sort_values(ascending=False)

    # 选择出现次数最多的 num_top_categories 个种类
    top_categories = category_counts.head(num_top_categories).index

    # 创建一个新的 DataFrame，只包括 top_categories
    top_categories_df = df[top_categories]

    # 将所有其他种类归类到 'others' 中
    df['others'] = df[category_cols].drop(columns=top_categories).sum(axis=1)

    # 计算每个种类的占比
    total_counts = df[category_cols].sum().sum()
    category_percentages = (category_counts / total_counts) * 100  # 计算百分比

    # 将 selected_columns 与 top_categories_df 合并
    result_df = pd.concat([df[selected_cols], top_categories_df, df[['others']]], axis=1)

    return result_df, category_percentages.head(num_top_categories)  # 返回 DataFrame 和占比

# 假设 restaurant_df 是原始的 DataFrame
# 假设 selected_columns 是已选择的列名列表
result_df, top_categories_percentages = select_top_categories_with_percentages(restaurant_df, selected_columns.columns)

# 查看处理后的 DataFrame 结构和种类占比
print(result_df.head())
print(top_categories_percentages)

              business_id             name            address  \
0  kfNv-JZpuN6TVNSO6hHdkw  Hibachi Express     6625 E 82nd St
1  sqSqqLy0sN8n2IZrAbzidQ   Domino's Pizza  3001 Highway 31 W
2  ABxoFuzZy5mqQ8C5FJJajQ     Core de Roma   201 Jefferson St
3  RK6-cJ9hj53RzOlCBmpT-g          Impasto               None
4  EuRGgOwJ0g1vTj2R04j37Q      Crafty Crab       51 Ludwig Dr

               city state postal_code   latitude  longitude  stars  \
0      Indianapolis    IN       46250  39.904320 -86.053080    4.0
1       White House    TN       37188  36.464747 -86.659187    3.5
2       Bala Cynwyd    PA       19004  40.028357 -75.238084    5.0
3             Tampa    FL       33611  27.890814 -82.502346    5.0
4  Fairview Heights    IL       62208  38.601298 -89.989683    2.5

   review_count  is_open  \
0            20        1
1             8        1
2            12        1
3             5        1
4            14        1

                                                                                                                                                                                                             attributes  \
0                                                                                                                          {'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2'}
1                                                                                                                                                                                       {'RestaurantsPriceRange2': '1'}
2                                          {'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None', 'BusinessParking': "{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}"}
3                                                                                                {'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsTakeOut': 'True', 'Caters': 'True'}
4  {'BusinessParking': "{u'valet': False, u'garage': False, u'street': False, u'lot': True, u'validated': False}", 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'GoodForKids': 'True'}

                                      categories  \
0         Steakhouses, Asian Fusion, Restaurants
1  Pizza, Chicken Wings, Sandwiches, Restaurants
2                           Restaurants, Italian
3        Restaurants, Italian, Food Trucks, Food
4                           Seafood, Restaurants

                                                                                                                                                                       hours  \
0                         {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}
1         {'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}
2                   {'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}
3                {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}
4  {'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}

   RestaurantsDelivery  OutdoorSeating  BusinessAcceptsCreditCards  \
0                 True            <NA>                        <NA>
1                 <NA>            <NA>                        <NA>
2                 <NA>            <NA>                        <NA>
3                False            <NA>                        True
4                 True            <NA>                        <NA>

                                                                       BusinessParking  \
0                                                                                 None
1                                                                                 None
2  {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}
3                                                                                 None
4  {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}

   BikeParking  RestaurantsPriceRange2  RestaurantsTakeOut  ByAppointmentOnly  \
0         <NA>                       2                True               <NA>
1         <NA>                       1                <NA>               <NA>
2         <NA>                    <NA>                <NA>               <NA>
3         <NA>                    <NA>                True               <NA>
4         <NA>                    <NA>                True               <NA>

   WiFi Alcohol  Caters  ... WheelchairAccessible  HasTV HappyHour  DriveThru  \
0     0    None    <NA>  ...                 <NA>   <NA>      <NA>       <NA>
1     0    None    <NA>  ...                 <NA>   <NA>      <NA>       <NA>
2     0    None    <NA>  ...                 <NA>   <NA>      <NA>       <NA>
3     0    None    True  ...                 <NA>   <NA>      <NA>       <NA>
4     0    None    <NA>  ...                 <NA>   True      <NA>       <NA>

   NoiseLevel  GoodForMeal  BusinessAcceptsBitcoin  Smoking  Music  \
0        None         None                    <NA>     None   None
1        None         None                    <NA>     None   None
2        None         None                    <NA>     None   None
3        None         None                    <NA>     None   None
4        None         None                    <NA>     None   None

   GoodForDancing  BestNights  BYOB Corkage Parking  category_Restaurants  \
0            <NA>        None  <NA>    <NA>    <NA>                     1
1            <NA>        None  <NA>    <NA>    <NA>                     1
2            <NA>        None  <NA>    <NA>    True                     1
3            <NA>        None  <NA>    <NA>    <NA>                     1
4            <NA>        None  <NA>    <NA>    True                     1

  category_Food category_Nightlife  category_Sandwiches category_Bars  \
0             0                  0                    0             0
1             0                  0                    1             0
2             0                  0                    0             0
3             1                  0                    0             0
4             0                  0                    0             0

   category_American_Traditional_  category_Pizza  category_FastFood  \
0                               0               0                  0
1                               0               1                  0
2                               0               0                  0
3                               0               0                  0
4                               0               0                  0

   category_Breakfast_Brunch  category_American_New_  others
0                          0                       0       2
1                          0                       0       1
2                          0                       0       1
3                          0                       0       2
4                          0                       0       1

[5 rows x 58 columns]
category_Restaurants              21.441963
category_Food                      6.349148
category_Nightlife                 3.578446
category_Sandwiches                3.431994
category_Bars                      3.420097
category_American_Traditional_     3.338871
category_Pizza                     2.909770
category_FastFood                  2.655016
category_Breakfast_Brunch          2.559432
category_American_New_             2.501179
dtype: float64

In [96]:
# 检查缺失值
missing_values = result_df.isnull().sum()
missing_percentage = (missing_values / len(result_df)) * 100

# 获取数据类型
data_types = result_df.dtypes

# 编制缺失值和数据类型的汇总表
data_summary = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage, 'Data Type': data_types})

data_summary

                                Missing Values  Percentage Data Type
business_id                                  0    0.000000    object
name                                         0    0.000000    object
address                                    443    0.847263    object
city                                         0    0.000000    object
state                                        0    0.000000    object
postal_code                                 21    0.040164    object
latitude                                     0    0.000000   float64
longitude                                    0    0.000000   float64
stars                                        0    0.000000   float64
review_count                                 0    0.000000     Int64
is_open                                      0    0.000000     Int64
attributes                                 566    1.082508    object
categories                                   0    0.000000    object
hours                                     7279   13.921509    object
RestaurantsDelivery                       7224   13.816318   boolean
OutdoorSeating                           10403   19.896339   boolean
BusinessAcceptsCreditCards                6739   12.888727   boolean
BusinessParking                           7397   14.147190    object
BikeParking                              16825   32.178786   boolean
RestaurantsPriceRange2                    7789   14.896913     Int64
RestaurantsTakeOut                        4654    8.901044   boolean
ByAppointmentOnly                        48938   93.596756   boolean
WiFi                                         0    0.000000     int64
Alcohol                                  12340   23.600964    object
Caters                                   17760   33.967028   boolean
RestaurantsAttire                        13331   25.496309    object
RestaurantsReservations                   9429   18.033508   boolean
Ambience                                 11248   21.512451    object
GoodForKids                              11331   21.671193   boolean
CoatCheck                                48008   91.818077   boolean
DogsAllowed                              40819   78.068699   boolean
RestaurantsTableService                  32564   62.280534   boolean
RestaurantsGoodForGroups                 10867   20.783766   boolean
WheelchairAccessible                     38735   74.082929   boolean
HasTV                                    10387   19.865738   boolean
HappyHour                                39279   75.123360   boolean
DriveThru                                46418   88.777111   boolean
NoiseLevel                               17478   33.427686    object
GoodForMeal                              23733   45.390736    object
BusinessAcceptsBitcoin                   45554   87.124661   boolean
Smoking                                  48843   93.415063    object
Music                                    46751   89.413992    object
GoodForDancing                           48691   93.124355   boolean
BestNights                               47784   91.389665    object
BYOB                                     48075   91.946219   boolean
Corkage                                  48865   93.457140   boolean
Parking                                   6659   12.735723   boolean
category_Restaurants                         0    0.000000     Int64
category_Food                                0    0.000000     Int64
category_Nightlife                           0    0.000000     Int64
category_Sandwiches                          0    0.000000     Int64
category_Bars                                0    0.000000     Int64
category_American_Traditional_               0    0.000000     Int64
category_Pizza                               0    0.000000     Int64
category_FastFood                            0    0.000000     Int64
category_Breakfast_Brunch                    0    0.000000     Int64
category_American_New_                       0    0.000000     Int64
others                                       0    0.000000     int64

In [97]:
columns_to_drop = data_summary[data_summary['Percentage'] > 50].index

result_df = result_df.drop(columns=columns_to_drop)

In [98]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   business_id                     52286 non-null  object
 1   name                            52286 non-null  object
 2   address                         51843 non-null  object
 3   city                            52286 non-null  object
 4   state                           52286 non-null  object
 5   postal_code                     52265 non-null  object
 6   latitude                        52286 non-null  float64
 7   longitude                       52286 non-null  float64
 8   stars                           52286 non-null  float64
 9   review_count                    52286 non-null  Int64
 10  is_open                         52286 non-null  Int64
 11  attributes                      51720 non-null  object
 12  categories                      52286 non-null  object
 13  hours                           45007 non-null  object
 14  RestaurantsDelivery             45062 non-null  boolean
 15  OutdoorSeating                  41883 non-null  boolean
 16  BusinessAcceptsCreditCards      45547 non-null  boolean
 17  BusinessParking                 44889 non-null  object
 18  BikeParking                     35461 non-null  boolean
 19  RestaurantsPriceRange2          44497 non-null  Int64
 20  RestaurantsTakeOut              47632 non-null  boolean
 21  WiFi                            52286 non-null  int64
 22  Alcohol                         39946 non-null  object
 23  Caters                          34526 non-null  boolean
 24  RestaurantsAttire               38955 non-null  object
 25  RestaurantsReservations         42857 non-null  boolean
 26  Ambience                        41038 non-null  object
 27  GoodForKids                     40955 non-null  boolean
 28  RestaurantsGoodForGroups        41419 non-null  boolean
 29  HasTV                           41899 non-null  boolean
 30  NoiseLevel                      34808 non-null  object
 31  GoodForMeal                     28553 non-null  object
 32  Parking                         45627 non-null  boolean
 33  category_Restaurants            52286 non-null  Int64
 34  category_Food                   52286 non-null  Int64
 35  category_Nightlife              52286 non-null  Int64
 36  category_Sandwiches             52286 non-null  Int64
 37  category_Bars                   52286 non-null  Int64
 38  category_American_Traditional_  52286 non-null  Int64
 39  category_Pizza                  52286 non-null  Int64
 40  category_FastFood               52286 non-null  Int64
 41  category_Breakfast_Brunch       52286 non-null  Int64
 42  category_American_New_          52286 non-null  Int64
 43  others                          52286 non-null  int64
dtypes: Int64(13), boolean(11), float64(3), int64(2), object(15)
memory usage: 14.9+ MB

In [99]:
result_df.drop(columns=['others','address','attributes','categories'], inplace=True, errors='ignore')

In [100]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   business_id                     52286 non-null  object
 1   name                            52286 non-null  object
 2   city                            52286 non-null  object
 3   state                           52286 non-null  object
 4   postal_code                     52265 non-null  object
 5   latitude                        52286 non-null  float64
 6   longitude                       52286 non-null  float64
 7   stars                           52286 non-null  float64
 8   review_count                    52286 non-null  Int64
 9   is_open                         52286 non-null  Int64
 10  hours                           45007 non-null  object
 11  RestaurantsDelivery             45062 non-null  boolean
 12  OutdoorSeating                  41883 non-null  boolean
 13  BusinessAcceptsCreditCards      45547 non-null  boolean
 14  BusinessParking                 44889 non-null  object
 15  BikeParking                     35461 non-null  boolean
 16  RestaurantsPriceRange2          44497 non-null  Int64
 17  RestaurantsTakeOut              47632 non-null  boolean
 18  WiFi                            52286 non-null  int64
 19  Alcohol                         39946 non-null  object
 20  Caters                          34526 non-null  boolean
 21  RestaurantsAttire               38955 non-null  object
 22  RestaurantsReservations         42857 non-null  boolean
 23  Ambience                        41038 non-null  object
 24  GoodForKids                     40955 non-null  boolean
 25  RestaurantsGoodForGroups        41419 non-null  boolean
 26  HasTV                           41899 non-null  boolean
 27  NoiseLevel                      34808 non-null  object
 28  GoodForMeal                     28553 non-null  object
 29  Parking                         45627 non-null  boolean
 30  category_Restaurants            52286 non-null  Int64
 31  category_Food                   52286 non-null  Int64
 32  category_Nightlife              52286 non-null  Int64
 33  category_Sandwiches             52286 non-null  Int64
 34  category_Bars                   52286 non-null  Int64
 35  category_American_Traditional_  52286 non-null  Int64
 36  category_Pizza                  52286 non-null  Int64
 37  category_FastFood               52286 non-null  Int64
 38  category_Breakfast_Brunch       52286 non-null  Int64
 39  category_American_New_          52286 non-null  Int64
dtypes: Int64(13), boolean(11), float64(3), int64(1), object(12)
memory usage: 13.3+ MB

In [101]:
for column in result_df.columns:

    value_counts = result_df[column].value_counts()

    print(f"Column: {column}")
    print(value_counts)
    print("\n")

Column: business_id
business_id
kfNv-JZpuN6TVNSO6hHdkw    1
1HesWqhnQA7ap83wqKK2tA    1
JVufTzXywNoJn_F3ZH4LDg    1
Qvcb4fEnlbTgjRJQexE9Sg    1
XZ1T0EY_7BXmlfelsbDzaA    1
                         ..
AlxCk_nmd2wZT-Br1fuIgQ    1
TFq1HZ3NwIpmIb11au2Byg    1
FFSj2K8vypiLoaPpi94pgA    1
BpCi_s4hDtw7ru_hf2qpIA    1
4wvKerRd-Y88IX6E5lCArQ    1
Name: count, Length: 52286, dtype: int64


Column: name
name
McDonald's                        703
Subway                            459
Taco Bell                         365
Burger King                       338
Wendy's                           331
                                 ...
Ming's Restaurant                   1
Rainbowtown Chinese Restaurant      1
Uncle B's BBQ Shack                 1
Holy Land Grill                     1
The Boozy Pig                       1
Name: count, Length: 36744, dtype: int64


Column: city
city
Philadelphia     5854
Tampa            2961
Indianapolis     2862
Nashville        2503
Tucson           2470
                 ...
CLEARWATER          1
WEST CHESTER        1
Lansdale            1
Belmont Hills       1
Mercerville         1
Name: count, Length: 920, dtype: int64


Column: state
state
PA     12644
FL      8732
TN      4353
MO      4248
IN      4150
LA      3641
NJ      3343
AZ      2675
AB      2410
NV      1675
ID      1304
CA      1161
IL       983
DE       962
HI         1
XMS        1
NC         1
MT         1
CO         1
Name: count, dtype: int64


Column: postal_code
postal_code
70130      602
19107      590
19147      549
19103      482
37203      466
          ...
T5E 0N3      1
T5V 1T8      1
T5G 0X1      1
T6C 4A6      1
T5T 1Y7      1
Name: count, Length: 2115, dtype: int64


Column: latitude
latitude
39.949756    14
29.969391    11
53.522440     9
27.955269     9
27.961106     9
             ..
38.422210     1
40.309560     1
32.164589     1
40.043639     1
39.770377     1
Name: count, Length: 49106, dtype: int64


Column: longitude
longitude
-75.148062     15
-82.456320     11
-90.052164     11
-82.464064     10
-113.621871     9
               ..
-75.621110      1
-75.140981      1
-74.968824      1
-90.358508      1
-75.501715      1
Name: count, Length: 48559, dtype: int64


Column: stars
stars
4.0    13444
3.5    11798
4.5     8360
3.0     7641
2.5     4850
2.0     2911
5.0     1554
1.5     1481
1.0      247
Name: count, dtype: int64


Column: review_count
review_count
5       2138
6       1774
7       1695
8       1468
9       1398
        ...
1886       1
1008       1
927        1
3999       1
980        1
Name: count, Length: 1132, dtype: Int64


Column: is_open
is_open
1    35004
0    17282
Name: count, dtype: Int64


Column: hours
hours
{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}                  1328
{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0', 'Sunday': '11:0-21:0'}     582
{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-21:0'}     491
{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22:0', 'Thursday': '11:0-22:0', 'Friday': '11:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-22:0'}     489
{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22:0', 'Thursday': '11:0-22:0', 'Friday': '11:0-23:0', 'Saturday': '11:0-23:0', 'Sunday': '11:0-22:0'}     487
                                                                                                                                                                             ...
{'Tuesday': '10:0-21:0', 'Wednesday': '10:0-21:0', 'Thursday': '10:0-21:0', 'Friday': '10:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-21:0'}                              1
{'Monday': '8:0-14:0', 'Tuesday': '8:0-21:0', 'Wednesday': '8:0-21:0', 'Thursday': '8:0-21:0', 'Friday': '8:0-21:0', 'Saturday': '8:0-21:0', 'Sunday': '8:0-14:0'}              1
{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-0:0', 'Saturday': '11:0-22:0', 'Sunday': '12:0-19:0'}        1
{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:30', 'Wednesday': '11:0-20:30', 'Thursday': '11:0-20:30', 'Friday': '11:0-20:30', 'Saturday': '11:0-20:30'}                         1
{'Monday': '6:30-21:0', 'Tuesday': '6:30-21:0', 'Wednesday': '6:30-21:0', 'Thursday': '6:30-21:0', 'Friday': '6:30-21:0', 'Saturday': '6:30-21:0', 'Sunday': '7:0-14:0'}        1
Name: count, Length: 20791, dtype: int64


Column: RestaurantsDelivery
RestaurantsDelivery
True     27567
False    17495
Name: count, dtype: Int64


Column: OutdoorSeating
OutdoorSeating
False    21912
True     19971
Name: count, dtype: Int64


Column: BusinessAcceptsCreditCards
BusinessAcceptsCreditCards
True     44141
False     1406
Name: count, dtype: Int64


Column: BusinessParking
BusinessParking
{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}     17464
{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}     9847
{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}      7226
{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}       2613
{'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}        683
                                                                                        ...
{'valet': False, 'garage': False, 'street': True, 'lot': True, 'validated': True}           1
{'valet': False, 'garage': True, 'street': False, 'lot': True, 'validated': None}           1
{'garage': False}                                                                           1
{'valet': True, 'garage': False, 'street': False, 'lot': False, 'validated': True}          1
{'garage': False, 'street': None, 'validated': False, 'lot': None, 'valet': True}           1
Name: count, Length: 148, dtype: int64


Column: BikeParking
BikeParking
True     26189
False     9272
Name: count, dtype: Int64


Column: RestaurantsPriceRange2
RestaurantsPriceRange2
2    23128
1    19512
3     1662
4      195
Name: count, dtype: Int64


Column: RestaurantsTakeOut
RestaurantsTakeOut
True     45382
False     2250
Name: count, dtype: Int64


Column: WiFi
WiFi
0    31865
1    20421
Name: count, dtype: int64


Column: Alcohol
Alcohol
'none'             20303
'full_bar'         13895
'beer_and_wine'     5748
Name: count, dtype: int64


Column: Caters
Caters
True     20533
False    13993
Name: count, dtype: Int64


Column: RestaurantsAttire
RestaurantsAttire
'casual'    38089
'dressy'      796
'formal'       70
Name: count, dtype: int64


Column: RestaurantsReservations
RestaurantsReservations
False    28428
True     14429
Name: count, dtype: Int64


Column: Ambience
Ambience
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}    6323
{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}    4792
{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}     4131
{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}     4126
{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': False}    3098
                                                                                                                                                                    ...
{'divey': False, 'hipster': None, 'casual': True, 'touristy': None, 'trendy': True, 'intimate': True, 'romantic': True, 'classy': None, 'upscale': None}               1
{'divey': False, 'hipster': None, 'casual': None, 'touristy': True, 'trendy': True, 'intimate': True, 'romantic': None, 'classy': None, 'upscale': True}               1
{'divey': False, 'hipster': None, 'casual': None, 'touristy': True, 'trendy': None, 'intimate': None, 'romantic': None, 'classy': None, 'upscale': None}               1
{'divey': False, 'hipster': None, 'casual': None, 'touristy': None, 'trendy': True, 'intimate': True, 'romantic': None, 'classy': True, 'upscale': None}               1
{'romantic': False, 'intimate': False, 'touristy': False, 'upscale': False, 'divey': False, 'classy': False, 'trendy': False, 'hipster': False, 'casual': False}       1
Name: count, Length: 2265, dtype: int64


Column: GoodForKids
GoodForKids
True     34780
False     6175
Name: count, dtype: Int64


Column: RestaurantsGoodForGroups
RestaurantsGoodForGroups
True     35579
False     5840
Name: count, dtype: Int64


Column: HasTV
HasTV
True     31782
False    10117
Name: count, dtype: Int64


Column: NoiseLevel
NoiseLevel
'average'      24443
'quiet'         7163
'loud'          2364
'very_loud'      838
Name: count, dtype: int64


Column: GoodForMeal
GoodForMeal
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}    8884
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}      4497
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': False}     2387
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'brunch': False, 'breakfast': False}     1354
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': True, 'breakfast': True}        768
                                                                                                                ...
{'dessert': None, 'latenight': True, 'lunch': None, 'dinner': None, 'brunch': None, 'breakfast': False}            1
{'breakfast': False, 'brunch': False, 'lunch': False, 'dinner': True, 'latenight': False, 'dessert': False}        1
{'dessert': True, 'latenight': None, 'lunch': None, 'dinner': False, 'brunch': None, 'breakfast': True}            1
{'dessert': None, 'latenight': True, 'lunch': None, 'dinner': True, 'brunch': True, 'breakfast': False}            1
{'dessert': True, 'latenight': None, 'lunch': None, 'dinner': False, 'brunch': None, 'breakfast': None}            1
Name: count, Length: 517, dtype: int64


Column: Parking
Parking
True     33392
False    12235
Name: count, dtype: Int64


Column: category_Restaurants
category_Restaurants
1    52268
0       18
Name: count, dtype: Int64


Column: category_Food
category_Food
0    36809
1    15477
Name: count, dtype: Int64


Column: category_Nightlife
category_Nightlife
0    43563
1     8723
Name: count, dtype: Int64


Column: category_Sandwiches
category_Sandwiches
0    43920
1     8366
Name: count, dtype: Int64


Column: category_Bars
category_Bars
0    43949
1     8337
Name: count, dtype: Int64


Column: category_American_Traditional_
category_American_Traditional_
0    44147
1     8139
Name: count, dtype: Int64


Column: category_Pizza
category_Pizza
0    45193
1     7093
Name: count, dtype: Int64


Column: category_FastFood
category_FastFood
0    45814
1     6472
Name: count, dtype: Int64


Column: category_Breakfast_Brunch
category_Breakfast_Brunch
0    46047
1     6239
Name: count, dtype: Int64


Column: category_American_New_
category_American_New_
0    46189
1     6097
Name: count, dtype: Int64

In [102]:
print(result_df.columns)

Index(['business_id', 'name', 'city', 'state', 'postal_code', 'latitude',
       'longitude', 'stars', 'review_count', 'is_open', 'hours',
       'RestaurantsDelivery', 'OutdoorSeating', 'BusinessAcceptsCreditCards',
       'BusinessParking', 'BikeParking', 'RestaurantsPriceRange2',
       'RestaurantsTakeOut', 'WiFi', 'Alcohol', 'Caters', 'RestaurantsAttire',
       'RestaurantsReservations', 'Ambience', 'GoodForKids',
       'RestaurantsGoodForGroups', 'HasTV', 'NoiseLevel', 'GoodForMeal',
       'Parking', 'category_Restaurants', 'category_Food',
       'category_Nightlife', 'category_Sandwiches', 'category_Bars',
       'category_American_Traditional_', 'category_Pizza', 'category_FastFood',
       'category_Breakfast_Brunch', 'category_American_New_'],
      dtype='object')

In [103]:
result_df['hours']

0                                   {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}
1                   {'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0', 'Thursday': '10:0-0:0', 'Friday': '10:0-1:0', 'Saturday': '10:0-1:0', 'Sunday': '10:0-0:0'}
2                             {'Tuesday': '15:0-20:30', 'Wednesday': '15:0-20:30', 'Thursday': '15:0-20:30', 'Friday': '15:0-20:30', 'Saturday': '15:0-20:30', 'Sunday': '15:0-20:30'}
3                          {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}
4            {'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22:0', 'Thursday': '12:0-22:0', 'Friday': '12:0-23:0', 'Saturday': '12:0-23:0', 'Sunday': '12:0-22:0'}
                                                                                             ...
52281        {'Monday': '17:0-21:0', 'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21:0', 'Thursday': '16:0-21:0', 'Friday': '16:0-21:0', 'Saturday': '16:0-21:0', 'Sunday': '17:0-21:0'}
52282                                       {'Monday': '0:0-0:0', 'Wednesday': '9:0-17:0', 'Thursday': '9:0-17:0', 'Friday': '9:0-17:0', 'Saturday': '9:0-17:0', 'Sunday': '9:0-15:0'}
52283        {'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0', 'Wednesday': '10:0-22:0', 'Thursday': '10:0-22:0', 'Friday': '10:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-21:0'}
52284    {'Monday': '0:0-0:0', 'Tuesday': '10:45-22:0', 'Wednesday': '10:45-22:0', 'Thursday': '10:45-22:0', 'Friday': '10:45-22:0', 'Saturday': '10:45-22:0', 'Sunday': '10:45-22:0'}
52285         {'Monday': '6:30-21:0', 'Tuesday': '6:30-21:0', 'Wednesday': '6:30-21:0', 'Thursday': '6:30-21:0', 'Friday': '6:30-21:0', 'Saturday': '6:30-21:0', 'Sunday': '7:0-14:0'}
Name: hours, Length: 52286, dtype: object

In [104]:
def calculate_hours(open_hours):
    if open_hours == '' or open_hours is None:
        return 0
    if open_hours == '0:0-0:0':
        return 24
    open_time, close_time = open_hours.split('-')
    open_hour, open_minute = map(int, open_time.split(':'))
    close_hour, close_minute = map(int, close_time.split(':'))

    if close_hour < open_hour or (close_hour == open_hour and close_minute < open_minute):
        close_hour += 24

    return (close_hour + close_minute / 60) - (open_hour + open_minute / 60)

In [105]:
import ast
result_df['hours'] = result_df['hours'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days_of_week:
    # Apply the calculate_hours function only if x is a dictionary
    result_df[day + '_hours'] = result_df['hours'].apply(lambda x: calculate_hours(x.get(day, '')) if isinstance(x, dict) else 0)

# Calculate total weekly hours by summing daily hours
result_df['Total_Weekly_Hours'] = result_df[[day + '_hours' for day in days_of_week]].sum(axis=1)

# Count the number of days per week that have more than 0 hours of operation
result_df['Operating_Days_per_Week'] = result_df[[day + '_hours' for day in days_of_week]].apply(lambda x: (x > 0).sum(), axis=1)

# Determine if there is operation on Sunday by checking if Sunday hours are greater than 0
result_df['Sunday_Operating'] = (result_df['Sunday_hours'] > 0).astype(int)

In [106]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 50 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   business_id                     52286 non-null  object
 1   name                            52286 non-null  object
 2   city                            52286 non-null  object
 3   state                           52286 non-null  object
 4   postal_code                     52265 non-null  object
 5   latitude                        52286 non-null  float64
 6   longitude                       52286 non-null  float64
 7   stars                           52286 non-null  float64
 8   review_count                    52286 non-null  Int64
 9   is_open                         52286 non-null  Int64
 10  hours                           45007 non-null  object
 11  RestaurantsDelivery             45062 non-null  boolean
 12  OutdoorSeating                  41883 non-null  boolean
 13  BusinessAcceptsCreditCards      45547 non-null  boolean
 14  BusinessParking                 44889 non-null  object
 15  BikeParking                     35461 non-null  boolean
 16  RestaurantsPriceRange2          44497 non-null  Int64
 17  RestaurantsTakeOut              47632 non-null  boolean
 18  WiFi                            52286 non-null  int64
 19  Alcohol                         39946 non-null  object
 20  Caters                          34526 non-null  boolean
 21  RestaurantsAttire               38955 non-null  object
 22  RestaurantsReservations         42857 non-null  boolean
 23  Ambience                        41038 non-null  object
 24  GoodForKids                     40955 non-null  boolean
 25  RestaurantsGoodForGroups        41419 non-null  boolean
 26  HasTV                           41899 non-null  boolean
 27  NoiseLevel                      34808 non-null  object
 28  GoodForMeal                     28553 non-null  object
 29  Parking                         45627 non-null  boolean
 30  category_Restaurants            52286 non-null  Int64
 31  category_Food                   52286 non-null  Int64
 32  category_Nightlife              52286 non-null  Int64
 33  category_Sandwiches             52286 non-null  Int64
 34  category_Bars                   52286 non-null  Int64
 35  category_American_Traditional_  52286 non-null  Int64
 36  category_Pizza                  52286 non-null  Int64
 37  category_FastFood               52286 non-null  Int64
 38  category_Breakfast_Brunch       52286 non-null  Int64
 39  category_American_New_          52286 non-null  Int64
 40  Monday_hours                    52286 non-null  float64
 41  Tuesday_hours                   52286 non-null  float64
 42  Wednesday_hours                 52286 non-null  float64
 43  Thursday_hours                  52286 non-null  float64
 44  Friday_hours                    52286 non-null  float64
 45  Saturday_hours                  52286 non-null  float64
 46  Sunday_hours                    52286 non-null  float64
 47  Total_Weekly_Hours              52286 non-null  float64
 48  Operating_Days_per_Week         52286 non-null  int64
 49  Sunday_Operating                52286 non-null  int64
dtypes: Int64(13), boolean(11), float64(11), int64(3), object(12)
memory usage: 17.3+ MB

In [107]:
pd.set_option('display.max_colwidth', None)
result_df['BusinessParking']

0                                                                                        None
1                                                                                        None
2         {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}
3                                                                                        None
4         {'valet': False, 'garage': False, 'street': False, 'lot': True, 'validated': False}
                                                 ...
52281     {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}
52282      {'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}
52283     {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}
52284     {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}
52285    {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}
Name: BusinessParking, Length: 52286, dtype: object

In [108]:
result_df = result_df.join(
    result_df['BusinessParking'].apply(
        lambda x: pd.Series({k: (1 if v is True else 0) for k, v in (ast.literal_eval(x) if isinstance(x, str) else {}).items()})
    ).fillna(0).astype(int)
)

In [109]:
result_df.shape

(52286, 55)

In [110]:
result_df['Alcohol'].unique()

array([None, "'none'", "'full_bar'", "'beer_and_wine'"], dtype=object)

In [111]:
import numpy as np
result_df['is_Alcohol'] = np.where(result_df['Alcohol'].isin(['none', None]), 0, 1)
result_df['is_Alcohol']

0        0
1        0
2        0
3        0
4        0
        ..
52281    1
52282    1
52283    1
52284    1
52285    1
Name: is_Alcohol, Length: 52286, dtype: int64

In [112]:
result_df['RestaurantsAttire'].unique()

array([None, "'casual'", "'dressy'", "'formal'"], dtype=object)

In [113]:
print(result_df['RestaurantsAttire'].unique())

[None "'casual'" "'dressy'" "'formal'"]

In [114]:
count=result_df['RestaurantsAttire'].value_counts(dropna=False)
count

RestaurantsAttire
'casual'    38089
None        13331
'dressy'      796
'formal'       70
Name: count, dtype: int64

In [115]:
result_df['RestaurantsAttire'] = result_df['RestaurantsAttire'].apply(lambda x: None if x is None else x.strip("'"))

result_df['is_Attire'] = result_df['RestaurantsAttire'].apply(lambda x: 1 if x in ['dressy', 'formal'] else 0)

In [116]:
result_df['is_Attire'].unique()

array([0, 1])

In [117]:
count2=result_df['is_Attire'].value_counts(dropna=False)
count2

is_Attire
0    51420
1      866
Name: count, dtype: int64

In [118]:
result_df['Ambience'].unique()

array([None,
       "{'romantic': False, 'intimate': False, 'classy': False, 'upscale': False, 'touristy': False, 'trendy': False, 'casual': False}",
       "{'hipster': None, 'casual': True, 'touristy': None, 'trendy': None, 'intimate': None, 'romantic': None, 'classy': None, 'upscale': None}",
       ...,
       "{'touristy': True, 'hipster': False, 'romantic': True, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",
       "{'divey': True, 'hipster': False, 'casual': False, 'touristy': False, 'trendy': False, 'intimate': False, 'romantic': False, 'classy': True, 'upscale': False}",
       "{'romantic': False, 'intimate': False, 'touristy': False, 'upscale': False, 'divey': False, 'classy': False, 'trendy': False, 'hipster': False, 'casual': False}"],
      dtype=object)

***I decided to delete this one coulmn;***

In [119]:
result_df['NoiseLevel'].unique()

array([None, "'average'", "'quiet'", "'loud'", "'very_loud'"],
      dtype=object)

In [120]:
count3=result_df['NoiseLevel'].value_counts(dropna=False)
count3

NoiseLevel
'average'      24443
None           17478
'quiet'         7163
'loud'          2364
'very_loud'      838
Name: count, dtype: int64

***I decided to delete this column, because the None value has many. We cannot pick the None value as quiet or loud.***

In [121]:
result_df["GoodForMeal"]

0                                                                                                                None
1                                                                                                                None
2                                                                                                                None
3                                                                                                                None
4                                                                                                                None
                                                             ...
52281                                                                                                            None
52282    {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}
52283    {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}
52284    {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}
52285     {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': True}
Name: GoodForMeal, Length: 52286, dtype: object

In [122]:
count4=result_df['GoodForMeal'].value_counts(dropna=False)
count4

GoodForMeal
None                                                                                                            23733
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}     8884
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}       4497
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': False}      2387
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'brunch': False, 'breakfast': False}      1354
                                                                                                                ...
{'dessert': None, 'latenight': True, 'lunch': None, 'dinner': None, 'brunch': None, 'breakfast': False}             1
{'breakfast': False, 'brunch': False, 'lunch': False, 'dinner': True, 'latenight': False, 'dessert': False}         1
{'dessert': True, 'latenight': None, 'lunch': None, 'dinner': False, 'brunch': None, 'breakfast': True}             1
{'dessert': None, 'latenight': True, 'lunch': None, 'dinner': True, 'brunch': True, 'breakfast': False}             1
{'dessert': True, 'latenight': None, 'lunch': None, 'dinner': False, 'brunch': None, 'breakfast': None}             1
Name: count, Length: 518, dtype: int64

***I decided to delete this, because the None is to much.***

In [123]:
result_df['RestaurantsPriceRange2']

0           2
1           1
2        <NA>
3        <NA>
4        <NA>
         ...
52281       2
52282       2
52283       1
52284       1
52285       2
Name: RestaurantsPriceRange2, Length: 52286, dtype: Int64

In [124]:
count5=result_df['RestaurantsPriceRange2'].value_counts(dropna=False)
count5

RestaurantsPriceRange2
2       23128
1       19512
<NA>     7789
3        1662
4         195
Name: count, dtype: Int64

In [125]:
result_df['RestaurantsPriceRange2'] = result_df['RestaurantsPriceRange2'].fillna(1)

In [126]:
def transform_value(x):
    if x in [1, 2]:
        return 1
    elif x in [3, 4]:
        return 0
    else:
        return 1

result_df['is_Economical'] = result_df['RestaurantsPriceRange2'].apply(transform_value)

In [127]:
count6=result_df['is_Economical'].value_counts(dropna=False)
count6

is_Economical
1    50429
0     1857
Name: count, dtype: int64

In [128]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   business_id                     52286 non-null  object
 1   name                            52286 non-null  object
 2   city                            52286 non-null  object
 3   state                           52286 non-null  object
 4   postal_code                     52265 non-null  object
 5   latitude                        52286 non-null  float64
 6   longitude                       52286 non-null  float64
 7   stars                           52286 non-null  float64
 8   review_count                    52286 non-null  Int64
 9   is_open                         52286 non-null  Int64
 10  hours                           45007 non-null  object
 11  RestaurantsDelivery             45062 non-null  boolean
 12  OutdoorSeating                  41883 non-null  boolean
 13  BusinessAcceptsCreditCards      45547 non-null  boolean
 14  BusinessParking                 44889 non-null  object
 15  BikeParking                     35461 non-null  boolean
 16  RestaurantsPriceRange2          52286 non-null  Int64
 17  RestaurantsTakeOut              47632 non-null  boolean
 18  WiFi                            52286 non-null  int64
 19  Alcohol                         39946 non-null  object
 20  Caters                          34526 non-null  boolean
 21  RestaurantsAttire               38955 non-null  object
 22  RestaurantsReservations         42857 non-null  boolean
 23  Ambience                        41038 non-null  object
 24  GoodForKids                     40955 non-null  boolean
 25  RestaurantsGoodForGroups        41419 non-null  boolean
 26  HasTV                           41899 non-null  boolean
 27  NoiseLevel                      34808 non-null  object
 28  GoodForMeal                     28553 non-null  object
 29  Parking                         45627 non-null  boolean
 30  category_Restaurants            52286 non-null  Int64
 31  category_Food                   52286 non-null  Int64
 32  category_Nightlife              52286 non-null  Int64
 33  category_Sandwiches             52286 non-null  Int64
 34  category_Bars                   52286 non-null  Int64
 35  category_American_Traditional_  52286 non-null  Int64
 36  category_Pizza                  52286 non-null  Int64
 37  category_FastFood               52286 non-null  Int64
 38  category_Breakfast_Brunch       52286 non-null  Int64
 39  category_American_New_          52286 non-null  Int64
 40  Monday_hours                    52286 non-null  float64
 41  Tuesday_hours                   52286 non-null  float64
 42  Wednesday_hours                 52286 non-null  float64
 43  Thursday_hours                  52286 non-null  float64
 44  Friday_hours                    52286 non-null  float64
 45  Saturday_hours                  52286 non-null  float64
 46  Sunday_hours                    52286 non-null  float64
 47  Total_Weekly_Hours              52286 non-null  float64
 48  Operating_Days_per_Week         52286 non-null  int64
 49  Sunday_Operating                52286 non-null  int64
 50  valet                           52286 non-null  int64
 51  garage                          52286 non-null  int64
 52  street                          52286 non-null  int64
 53  lot                             52286 non-null  int64
 54  validated                       52286 non-null  int64
 55  is_Alcohol                      52286 non-null  int64
 56  is_Attire                       52286 non-null  int64
 57  is_Economical                   52286 non-null  int64
dtypes: Int64(13), boolean(11), float64(11), int64(11), object(12)
memory usage: 20.5+ MB

In [129]:
result_df.columns

Index(['business_id', 'name', 'city', 'state', 'postal_code', 'latitude',
       'longitude', 'stars', 'review_count', 'is_open', 'hours',
       'RestaurantsDelivery', 'OutdoorSeating', 'BusinessAcceptsCreditCards',
       'BusinessParking', 'BikeParking', 'RestaurantsPriceRange2',
       'RestaurantsTakeOut', 'WiFi', 'Alcohol', 'Caters', 'RestaurantsAttire',
       'RestaurantsReservations', 'Ambience', 'GoodForKids',
       'RestaurantsGoodForGroups', 'HasTV', 'NoiseLevel', 'GoodForMeal',
       'Parking', 'category_Restaurants', 'category_Food',
       'category_Nightlife', 'category_Sandwiches', 'category_Bars',
       'category_American_Traditional_', 'category_Pizza', 'category_FastFood',
       'category_Breakfast_Brunch', 'category_American_New_', 'Monday_hours',
       'Tuesday_hours', 'Wednesday_hours', 'Thursday_hours', 'Friday_hours',
       'Saturday_hours', 'Sunday_hours', 'Total_Weekly_Hours',
       'Operating_Days_per_Week', 'Sunday_Operating', 'valet', 'garage',
       'street', 'lot', 'validated', 'is_Alcohol', 'is_Attire',
       'is_Economical'],
      dtype='object')

In [130]:
result_df.drop(columns=['hours','BusinessParking','RestaurantsPriceRange2','Alcohol','RestaurantsAttire','Ambience','GoodForMeal','NoiseLevel'], inplace=True, errors='ignore')

In [131]:
result_df.shape

(52286, 50)

In [132]:
# 检查缺失值
missing_values = result_df.isnull().sum()
missing_percentage = (missing_values / len(result_df)) * 100

# 获取数据类型
data_types = result_df.dtypes

# 编制缺失值和数据类型的汇总表
data_summary = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage, 'Data Type': data_types})

data_summary

                                Missing Values  Percentage Data Type
business_id                                  0    0.000000    object
name                                         0    0.000000    object
city                                         0    0.000000    object
state                                        0    0.000000    object
postal_code                                 21    0.040164    object
latitude                                     0    0.000000   float64
longitude                                    0    0.000000   float64
stars                                        0    0.000000   float64
review_count                                 0    0.000000     Int64
is_open                                      0    0.000000     Int64
RestaurantsDelivery                       7224   13.816318   boolean
OutdoorSeating                           10403   19.896339   boolean
BusinessAcceptsCreditCards                6739   12.888727   boolean
BikeParking                              16825   32.178786   boolean
RestaurantsTakeOut                        4654    8.901044   boolean
WiFi                                         0    0.000000     int64
Caters                                   17760   33.967028   boolean
RestaurantsReservations                   9429   18.033508   boolean
GoodForKids                              11331   21.671193   boolean
RestaurantsGoodForGroups                 10867   20.783766   boolean
HasTV                                    10387   19.865738   boolean
Parking                                   6659   12.735723   boolean
category_Restaurants                         0    0.000000     Int64
category_Food                                0    0.000000     Int64
category_Nightlife                           0    0.000000     Int64
category_Sandwiches                          0    0.000000     Int64
category_Bars                                0    0.000000     Int64
category_American_Traditional_               0    0.000000     Int64
category_Pizza                               0    0.000000     Int64
category_FastFood                            0    0.000000     Int64
category_Breakfast_Brunch                    0    0.000000     Int64
category_American_New_                       0    0.000000     Int64
Monday_hours                                 0    0.000000   float64
Tuesday_hours                                0    0.000000   float64
Wednesday_hours                              0    0.000000   float64
Thursday_hours                               0    0.000000   float64
Friday_hours                                 0    0.000000   float64
Saturday_hours                               0    0.000000   float64
Sunday_hours                                 0    0.000000   float64
Total_Weekly_Hours                           0    0.000000   float64
Operating_Days_per_Week                      0    0.000000     int64
Sunday_Operating                             0    0.000000     int64
valet                                        0    0.000000     int64
garage                                       0    0.000000     int64
street                                       0    0.000000     int64
lot                                          0    0.000000     int64
validated                                    0    0.000000     int64
is_Alcohol                                   0    0.000000     int64
is_Attire                                    0    0.000000     int64
is_Economical                                0    0.000000     int64

In [133]:
result_df.dropna(subset=['postal_code'], inplace=True)

In [134]:

missing_values = result_df.isnull().sum()
missing_percentage = (missing_values / len(result_df)) * 100

data_types = result_df.dtypes

data_summary = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage, 'Data Type': data_types})

data_summary

                                Missing Values  Percentage Data Type
business_id                                  0    0.000000    object
name                                         0    0.000000    object
city                                         0    0.000000    object
state                                        0    0.000000    object
postal_code                                  0    0.000000    object
latitude                                     0    0.000000   float64
longitude                                    0    0.000000   float64
stars                                        0    0.000000   float64
review_count                                 0    0.000000     Int64
is_open                                      0    0.000000     Int64
RestaurantsDelivery                       7214   13.802736   boolean
OutdoorSeating                           10392   19.883287   boolean
BusinessAcceptsCreditCards                6734   12.884339   boolean
BikeParking                              16808   32.159189   boolean
RestaurantsTakeOut                        4650    8.896967   boolean
WiFi                                         0    0.000000     int64
Caters                                   17749   33.959629   boolean
RestaurantsReservations                   9419   18.021621   boolean
GoodForKids                              11322   21.662681   boolean
RestaurantsGoodForGroups                 10860   20.778724   boolean
HasTV                                    10377   19.854587   boolean
Parking                                   6652   12.727447   boolean
category_Restaurants                         0    0.000000     Int64
category_Food                                0    0.000000     Int64
category_Nightlife                           0    0.000000     Int64
category_Sandwiches                          0    0.000000     Int64
category_Bars                                0    0.000000     Int64
category_American_Traditional_               0    0.000000     Int64
category_Pizza                               0    0.000000     Int64
category_FastFood                            0    0.000000     Int64
category_Breakfast_Brunch                    0    0.000000     Int64
category_American_New_                       0    0.000000     Int64
Monday_hours                                 0    0.000000   float64
Tuesday_hours                                0    0.000000   float64
Wednesday_hours                              0    0.000000   float64
Thursday_hours                               0    0.000000   float64
Friday_hours                                 0    0.000000   float64
Saturday_hours                               0    0.000000   float64
Sunday_hours                                 0    0.000000   float64
Total_Weekly_Hours                           0    0.000000   float64
Operating_Days_per_Week                      0    0.000000     int64
Sunday_Operating                             0    0.000000     int64
valet                                        0    0.000000     int64
garage                                       0    0.000000     int64
street                                       0    0.000000     int64
lot                                          0    0.000000     int64
validated                                    0    0.000000     int64
is_Alcohol                                   0    0.000000     int64
is_Attire                                    0    0.000000     int64
is_Economical                                0    0.000000     int64

In [135]:
result_df.shape

(52265, 50)

In [136]:
result_df.fillna(False, inplace=True)

boolean_columns = result_df.select_dtypes(include='bool').columns

for col in boolean_columns:
    result_df[col] = result_df[col].map({True: 1, False: 0})

In [138]:
result_df

,business_id,name,city,state,postal_code,latitude,longitude,stars,review_count,is_open,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsTakeOut,WiFi,Caters,RestaurantsReservations,GoodForKids,RestaurantsGoodForGroups,HasTV,Parking,category_Restaurants,category_Food,category_Nightlife,category_Sandwiches,category_Bars,category_American_Traditional_,category_Pizza,category_FastFood,category_Breakfast_Brunch,category_American_New_,Monday_hours,Tuesday_hours,Wednesday_hours,Thursday_hours,Friday_hours,Saturday_hours,Sunday_hours,Total_Weekly_Hours,Operating_Days_per_Week,Sunday_Operating,valet,garage,street,lot,validated,is_Alcohol,is_Attire,is_Economical
0,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,10.0,10.00,10.00,10.00,10.00,10.00,0.00,60.0,6,0,0,0,0,0,0,0,0,1
1,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,White House,TN,37188,36.464747,-86.659187,3.5,8,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,14.0,14.00,14.00,14.00,15.00,15.00,14.00,100.0,7,1,0,0,0,0,0,0,0,1
2,ABxoFuzZy5mqQ8C5FJJajQ,Core de Roma,Bala Cynwyd,PA,19004,40.028357,-75.238084,5.0,12,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0.0,5.50,5.50,5.50,5.50,5.50,5.50,33.0,6,1,0,0,0,1,0,0,0,1
3,RK6-cJ9hj53RzOlCBmpT-g,Impasto,Tampa,FL,33611,27.890814,-82.502346,5.0,5,1,0,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,24.0,24.00,24.00,24.00,24.00,24.00,24.00,168.0,7,1,0,0,0,0,0,0,0,1
4,EuRGgOwJ0g1vTj2R04j37Q,Crafty Crab,Fairview Heights,IL,62208,38.601298,-89.989683,2.5,14,1,1,0,0,0,1,0,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0,0,10.0,10.00,10.00,10.00,11.00,11.00,10.00,72.0,7,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52281,7Qcdxav_IcbDvn_oYAVsKw,Italian Gardens Restaurant,Indianapolis,IN,46219,39.773836,-86.019973,3.0,35,0,0,0,1,1,1,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,4.0,5.00,5.00,5.00,5.00,5.00,4.00,33.0,7,1,0,0,0,1,0,1,0,1
52282,AsMmX7njOzFkWsJQ1jMVCg,The Boozy Pig,Tampa,FL,33607,27.952304,-82.497093,4.5,134,1,1,1,1,1,1,1,1,0,1,0,0,1,1,1,0,1,0,0,0,0,1,1,24.0,0.00,8.00,8.00,8.00,8.00,6.00,62.0,6,1,0,0,1,1,0,1,0,1
52283,prjS_8VAw65e32UtoCj5AA,Seasons Pizza,Wilmington,DE,19809,39.784551,-75.477870,2.0,28,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,12.0,12.00,12.00,12.00,12.00,11.00,10.00,81.0,7,1,0,0,0,1,0,1,0,1
52284,Kyey3rqsPuNOgGlXuiqezQ,Chipotle Mexican Grill,Tampa,FL,33611,27.893439,-82.505866,2.0,100,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1,0,0,0,0,0,1,0,0,24.0,11.25,11.25,11.25,11.25,11.25,11.25,91.5,7,1,0,0,0,1,0,1,0,1
52285,4wvKerRd-Y88IX6E5lCArQ,George's Restaurant,Wilmington,DE,19809,39.770377,-75.501715,3.5,19,0,0,0,1,1,1,0,1,0,1,1,1,0,1,0,0,0,0,1,0,0,1,0,14.5,14.50,14.50,14.50,14.50,14.50,7.00,94.0,7,1,0,0,0,0,0,1,0,1

In [139]:
result_df.to_csv('output.csv', index=False)

In [140]:
from google.cloud import bigquery

project_id = "bdao-ima-422711"

dataset_name = "bobbdaoima"
table_name = "restaurant_data_cleaned"

bigquery_client = bigquery.Client(project=project_id)

job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",
)

job = bigquery_client.load_table_from_dataframe(
    result_df,
    f"{project_id}.{dataset_name}.{table_name}",
    job_config=job_config,
)


job.result()

print(f"Data uploaded to BigQuery table {dataset_name}.{table_name}")

Data uploaded to BigQuery table bobbdaoima.restaurant_data_cleaned

In [141]:
# Import the necessary libraries
from google.cloud import storage
from google.cloud import bigquery

project_id = "bdao-ima-422711"
dataset_name = "bobbdaoima"
table_name = "checkin_data" # if you make changes previously, then here you need to make according change

bigquery_client = bigquery.Client(project=project_id)

# Query all data from the table
query = f"""
   SELECT *
   FROM `{project_id}.{dataset_name}.{table_name}`
"""

query_job = bigquery_client.query(query)
results = query_job.result()

checkin_df = query_job.to_dataframe()
checkin_df

                  business_id  total_number_of_checkin
0      -v23pO9PUja15AiuUOW6tg                      256
1      2VczMMo9tWBNPBEHMnoP5w                      256
2      4B5ORibJ3vhimhW8LTY6Fg                      256
3      4zQV6v8TwEYMwI9Ekdf19g                      256
4      52ov7d0148JvYG78_c-Bsw                      256
...                       ...                      ...
51313  _s_51Vmq1LVQnGFSa-KfUw                     1023
51314  iJJdgwK4wrX8-PjKZzOEvQ                     1023
51315  2DTkzhmMpv5fIPKheePClA                     1791
51316  WxB8498ejPtHE7wFa89_fA                     3583
51317  VQcCL9PiNL_wkGf-uF3fjg                    28927

[51318 rows x 2 columns]

In [142]:
result_df.shape

(52265, 50)

In [143]:
merged_df = checkin_df.merge(result_df, on='business_id', how='left')

In [ ]:
merged_df

In [145]:
from google.cloud import bigquery

project_id = "bdao-ima-422711"

dataset_name = "bobbdaoima"
table_name = "All_data_cleaned"

bigquery_client = bigquery.Client(project=project_id)

job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",
)

job = bigquery_client.load_table_from_dataframe(
    merged_df,
    f"{project_id}.{dataset_name}.{table_name}",
    job_config=job_config,
)


job.result()

print(f"Data uploaded to BigQuery table {dataset_name}.{table_name}")

Data uploaded to BigQuery table bobbdaoima.All_data_cleaned